---
import GridView from 'src/components/GridView.astro';

const items = [
  { id: "1", title: "Grass", imageUrl: "https://cloud-iayokalsy-hack-club-bot.vercel.app/0grass.jpg", description: "Created by Saumil in 2022 under the Swift Accelerator Programme, Grass is a application that aims to help forgetful plant owners who oftentimes want to have a plant but cant seem to sustain one for the life of them (and the life of the plant)  :) Grass helps you (yes you forgetful plant owner) to water and fertilize your plant through frequent notifications.\nYou can check it out at https://app.swiftinsg.org/grass!", cornerRadius: "22px" },
  { id: "2", title: "Journify", imageUrl: "https://cloud-16y3df52h-hack-club-bot.vercel.app/0journify.png", description: "Created by Daivik in 2023 under the Swift Accelerator Programme, Journify is a application that allows you to set up a itinerary to keep your travels organized! You can check it out at https://app.swiftinsg.org/journify!.", cornerRadius: "22px" },
  { id: "3", title: "About BBSS!", imageUrl: ["https://cloud-jxs6lce4u-hack-club-bot.vercel.app/0screenshot1.webp", "https://cloud-jxs6lce4u-hack-club-bot.vercel.app/1screenshot2.webp", "https://cloud-jxs6lce4u-hack-club-bot.vercel.app/2screenshot3.webp", "https://cloud-jxs6lce4u-hack-club-bot.vercel.app/3screenshot4.webp", "https://cloud-jxs6lce4u-hack-club-bot.vercel.app/4screenshot5.webp"], description: "During the Swift Explorers Programme 2024 Saumil, Daivik and Zenneth made 'About BBSS' as a supliment to our existing school outreach schemes! Check it out at https://github.com/saumilthecode/propoganda!." },
  { id: "4", title: "Recycler", imageUrl: ["https://cloud-jdazid16m-hack-club-bot.vercel.app/0recycler1.webp", "https://cloud-jdazid16m-hack-club-bot.vercel.app/1recycler2.webp", "https://cloud-jdazid16m-hack-club-bot.vercel.app/2recycler3.webp", "https://cloud-jdazid16m-hack-club-bot.vercel.app/3recycler4.webp", "https://cloud-jdazid16m-hack-club-bot.vercel.app/4recycler5.webp"], description: "Recycler is a simple project that allows you to recycle your own items." },
  { id: "5", title: "Rain and Trees", imageUrl: "https://cloud-gerx7sftw-hack-club-bot.vercel.app/0clipboard-image-2.png", description: "Daivik made this 3D website as part of https://fraps.hackclub.com/Fraps. Check it out at https://gz56.github.io/glitch/." },
];

---
<h1
class="text-pretty text-center md:text-left md:text-4xl lg:text-5xl tracking-wide"
>
Projects made for an impact <i class="text-primary">for an impact</i> 
</h1>

<div class="mb-8"></div> <!-- Added space between the text and the GridView -->

<GridView items={items} />

<div class="mb-8"></div> <!-- Added space below the GridView -->
