---
// CallToAction.astro
---

<div class="cta-container">
    <h1 class="text-center">Take an idea you're interested in and bring it to <i>L</i>ife</h1>
</div>

<style>
    .cta-container {
        padding-bottom: 4rem; /* Adds padding below the h1 */
    }
</style>
